<div class="container">

  <div class="row" style="text-align:left">
    <div class="col-md-12">
      <form #createBlogForm="ngForm" (ngSubmit)="changePassword()">

        <div class="form-group">
          <label>Password</label>
          <input type="text" name="password" [(ngModel)]="password" #pass="ngModel" class="form-control" placeholder="Enter New  Password."
            required>
        </div>
       
        <button type="submit" class="btn btn-primary" [disabled]="!createBlogForm.form.valid">Submit New Password !</button>
      </form>
    </div>

  </div>

</div>